html, body {
    height: 100%;

}

@font-face {
    font-family: 'GothamLight';
    src: url('GothamLight.otf');
}


@font-face {
    font-family: 'GothamMedium';
    src: url('GothamMedium.otf');
}

.sessions {
    background: #f6f8f8;
}

body {
    font-family: 'GothamLight', sans-serif;
    font-weight: 200;
    font-size: 90%;
    margin: 0;
    overflow: auto;
    display: block;
}

#signin {
    color: #2a5669;
    margin: 20% auto 0;
    max-width: 500px;
    -webkit-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
    opacity: 1;
}

.error-msg {
    background: #c95b50;
    padding: 1em 1.5rem;
    line-height: 1.5em;
    font-size: 0.8em;
    color: #fff;
    display: none;
}


a {
    color: #2a5669;
    text-decoration: none;
    border-bottom: 1px solid #f5f6f7;
}

input {
    font-family: 'GothamMedium', sans-serif;
    font-weight: 500;
    margin: 0;
    -webkit-appearance: none;
    width: 100%;
    font-size: 0.9em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 100%;
    border: none;
    padding: 1rem 1.3rem;
    color: #2a5669;
    border-left: 0.3rem solid #fff;
    display: block;
}

input.submit-btn, a.submit-btn {
    font-family: 'GothamMedium', sans-serif;
    font-weight: 500;
    -webkit-transition: background 300ms ease-in-out, color 300ms ease-in-out;
    transition: background 300ms ease-in-out, color 300ms ease-in-out;
    background: #a3cddd;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #7eb9cf;
    display: block;
    font-size: 0.9em;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    padding: 1rem 1.5rem;
}

#login-fields input:nth-of-type(1), #login-fields-wrapper input:nth-of-type(1) {
    margin-bottom: 1px;
}

.supplemental-link {
    color: #4eaacc;
    display: block;
    margin-top: 1.5em;
    font-size: 0.8em;
    text-decoration: none;
    line-height: 1.5em;
}

#compliance-footer {
    font-size: 0.7em;
    margin-top: 10em;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

#fdic-logo {
    display: none;
}
input::placeholder, #compliance-footer > p  {
    color: #C0C0C0;
}

input:focus {
    padding: 1rem 1.5rem 1rem 1.3rem;
    border-left: 0.3rem solid #4eaacc;
    outline: none;
}

input.submit-btn:hover, input.submit-btn:active, a.submit-btn:hover, a.submit-btn.current, .submit-btn.current.link, a.submit-btn:active {
    background: #44a5c9;
}

a:hover, .link:hover {
    color: #28718c;
}

a:active, a:hover, a.current, .current.link {
    outline: 0;
}
@media screen and (max-width: 768px) {
    #compliance-footer {
        display: none;
    }
    .supplemental-link {

        padding-left: 2em;
    }
    .supplemental-link {
        color: #4eaacc;
        display: block;
        margin-top: 1.5em;
    }
    a {
        color: #2a5669;
        text-decoration: none;
        border-bottom: 1px solid #f5f6f7;
    }

    h2, p {
        padding: 0 1.5rem;
    }
}

@media screen and (min-device-width: 321px) {
    body {
        font-size: 110%;
    }
}

